.wrapper {
	display: flex;
	flex-direction: column;
}

.wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2%;
}

.wrapperTwo {
	width: auto;
}

.link {
	text-decoration: none;
}

.count {
	color: #008080;
}