.titlewrap {
	margin: 10%;
}

.title {
	position: relative;
	padding-bottom: .5rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	color: #00838f;
	width: 300px;
}

.count {
	color: #008080;
}